<div>

  <mat-card id="stats">
    <!--<mat-card-title>Stats</mat-card-title>-->
    <mat-card-content class="demo-basic-list">
      <mat-grid-list cols="3" [rowHeight]="130">
        <mat-grid-tile>
          <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'Meetings'" [data]="&nbsp; &nbsp;"></app-stat>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'Actions Items'"></app-stat>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-stat [bgClass]="'success'" [icon]="'fa-tasks'" [count]="124" [label]="'Delegated Tasks'"></app-stat>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>


  <mat-card id="meetings">
    <mat-card-title>Meetings</mat-card-title>
  </mat-card>
  <mat-card id="actions">
    <mat-card-title>Actions</mat-card-title>
  </mat-card>


</div>


